/*CARD*/
.hpCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 300px;
    height: 330px;
    color: white;
    background-image: url("stars.png");
    background-size: cover;
    background-position: center;
}

.cardImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;

}
/*BORDES CASAS*/
.gryffindor { border:solid 8px#9a1517; border-radius: 5%; }
.slytherin { border:solid 8px #1e7c3f; border-radius: 5%;}
.ravenclaw { border:solid 8px #1a307a; border-radius: 5%;}
.hufflepuff { border:solid 8px #ecb939; border-radius: 5%;}
.none { border:solid 8px #000000; border-radius: 5%;}


