.hpCard {
    background-color: rgb(69, 68, 68);
    padding: 1rem;
    width: 250px;
    height: 300px;
    color: white;
    background-image: url("stars.png");
    background-size: cover;
    background-position: center;
}


.cardListGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

img {
    width: 350px;
    height: 150px;
    object-fit: cover;
}

.gryffindor { border:solid 8px#9a1517; border-radius: 5%; }
.slytherin { border:solid 8px #1e7c3f; border-radius: 5%;}
.ravenclaw { border:solid 8px #1a307a; border-radius: 5%;}
.hufflepuff { border:solid 8px #ecb939; border-radius: 5%;}
.none { border:solid 8px #000000; border-radius: 5%;}


