:root {
  font-family:  "Cinzel";
  font-weight: 500;
  background-image: url("b.png");
}

a {
  font-weight: 500;
  color: #810d0d;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  color: rgb(71, 23, 23);
}



